* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 75px;
}

.container {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

button {
    border: none;
    width: 60px;
    height: 40px;
    background-color: navy;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px 0;
}

button:hover {
    background-color: blue;
    transition: 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.hide {
    display: none;
}

#simon-says {
    font-size: 50px;
}

#response {
    font-size: 30px;
    color: white;
    background-color: rgba(255, 80, 80, 0.837);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.flex-align {
    display: flex;
    align-items: center;
}

.ml-50 {
    margin-left: 50px;
}

h1 {
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 15px;
}

.c-red {
    color: red;
}

.text-center {
    text-align: center;
}